/* MainLayout specific styles */
.main-layout {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.897) 0%, rgba(0, 0, 0, 0) 30%);
  height: 80%;
  margin: 0 0;
  display: flex;
  flex-direction: column;
}
.content-container {
  flex: 1;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-content {
  flex: 1;
  padding: 0;
  margin: 0 2rem;;
}

.mainlayout-header {
  margin: 0 2rem 0 2rem;
}

.header-logo {
  position: static;
  top: var(--spacing-md);
  margin-right: 0;
  z-index: 1001;
}

.page-header{
 display: flex;
 justify-content: space-between;
  gap: var(--spacing-lg);
}

.page-title {
  font-size: 3rem;
  font-weight: bold;
  color: var(--white);
  padding: 0;
}

.breadcrumb {
  margin-left: 0;
  padding-top: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  background-color: var(--light-gray);
  border-radius: 8px;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.5rem;
  min-width: 73;
}

/* Bento box layout styles */
.client-screen-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  
  gap: 20px;
  height: 80vh; 
  margin-bottom: 0;
}


.client-list-container {
  
  background-color: var(--medium-gray);
  border-radius: 8px;
  padding:0;
  padding-top: 0;
}

.client-card {
  height: 100vh;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
 
}


.client-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-sm) var(--spacing-md);
  gap: var(--spacing-md);
}

.client-card-actions {
  display: flex;
  gap: var(--spacing-xs);
  justify-content: flex-end;
  margin-left: auto;
  transform: translatey(-100%);
}

.client-card-content, .projects-card-content {
  background-color: var(--white);
  border-radius: 8px;
  flex-direction: column;
  padding: var(--spacing-md) var(--spacing-md);
  flex: 1;
  overflow-y: auto;
}

.client-card-content p {
  font-size: 0.8rem;
}


.client-details-container, .projects-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Projects Box */
.projects-card-content {
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.projects-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--light-grey);
}

.projects-card-actions {
  display: flex;
  gap: var(--spacing-xs);
}


.footer {
  text-align: center;
  padding: 10px;
  background-color: var(--dark-gray);
  color: var(--light-gray);
  font-size: 0.8rem;
}


/* Media queries for responsive layout if needed later */
@media (max-width: 768px) {
  .client-screen-container {
    grid-template-columns: 1fr;
  }
}